$color-primary : #2a9461;
$color-secondary : #dde7c1;

.MuiAppBar-positionFixed {
    z-index: 1400 !important;
}

.MuiDrawer-paperAnchorLeft {
    z-index: 999 !important;
}

.custom-drawer {
    z-index: 999 !important;
}

@media only screen and (min-width: 1536px) {
    .css-19r6kue-MuiContainer-root {
        max-width: 100% !important;
    }
}

@media screen and (min-width: 1200px) {
    .css-1oqqzyl-MuiContainer-root {
        max-width: 100% !important;
    }
}