@import './../../style.scss';

.Mui-selected {
    color: white !important;
    
}

// drawer color
.MuiDrawer-paper {
    .MuiBox-root {
        .MuiList-root {
            padding-top: 0px !important;
        }
    }
}

.container-description {
    text-align: left;
}

.carousel-view {
    position: relative;
    top: 14px;
    padding: 12px 30px;

    .MuiBadge-badge {
        position: relative;
        font-size: 16px;
        height: 2.6rem;
        margin-right: 14px;
        padding-right: -2px;
        background-color: #FB2576;
        color: greenyellow;
        padding: 20px;
    }
}

.card-view {
    display: grid !important;
    grid-template-columns: auto auto auto auto;
    gap: 14px;
    padding: 12px;
    padding-left: 12 !important;
    padding-right: 24px !important;
    overflow: hidden;
    grid-template-rows: minmax(30px, 0fr) minmax(10px, 0fr) minmax(0px, 0fr);
    .set-background {
        margin: 0px 1px;
        border-radius: 12px;
        box-shadow: none !important;
        font-weight: 50;
        font-size: 14px;
        padding: 5px !important;
        height: 2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.customize-logo {
    margin-right: 14px;
    width: 2rem;
}

.custom-drawer {
    background-color: va;
}